In [2]:
import pandas as pd
from scipy.io import arff
import numpy
import math
import operator

In [3]:
data=arff.loadarff("./product-selection/trainProdSelection.arff")
trainDF = pd.DataFrame(data[0])
data=arff.loadarff("./product-selection/testProdSelection.arff")
testDF = pd.DataFrame(data[0])

In [4]:
list(pd.DataFrame(data[0]))
pd.DataFrame(data[0]).dtypes

Type          object
LifeStyle     object
Vacation     float64
eCredit      float64
salary       float64
property     float64
label         object
dtype: object

In [5]:
trainDF.Type=trainDF.Type.str.decode("UTF-8")

In [6]:
trainDF.LifeStyle=trainDF.LifeStyle.str.decode("UTF-8")

In [7]:


trainDF.label=trainDF.label.str.decode("UTF-8")

In [8]:
minValue=trainDF.Vacation.min()
maxValue=trainDF.Vacation.max()
trainDF.Vacation=trainDF.Vacation.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [9]:
minValue=trainDF.eCredit.min()
maxValue=trainDF.eCredit.max()
trainDF.eCredit=trainDF.eCredit.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [10]:
minValue=trainDF.salary.min()
maxValue=trainDF.salary.max()
trainDF.salary=trainDF.salary.apply(lambda x:(x-minValue)/(maxValue-minValue))

minValue=trainDF.property.min()
maxValue=trainDF.property.max()
trainDF.property=trainDF.property.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [11]:
trainDF.head()

      Type     LifeStyle  Vacation   eCredit    salary  property label
0  student  spend>saving  0.079365  0.107558  0.219960  0.183167    C1
1  student  spend>saving  0.158730  0.052326  0.293102  0.112797    C1
2  student  spend>saving  0.095238  0.177326  0.346023  0.174200    C1
3  student  spend>saving  0.031746  0.127907  0.309882  0.189984    C1
4  student  spend>saving  0.222222  0.020349  0.363663  0.127311    C1

In [12]:
testDF.Type=testDF.Type.str.decode("UTF-8")

In [13]:
testDF.LifeStyle=testDF.LifeStyle.str.decode("UTF-8")

In [14]:
testDF.label=testDF.label.str.decode("UTF-8")

In [15]:
minValue=testDF.Vacation.min()
maxValue=testDF.Vacation.max()
testDF.Vacation=testDF.Vacation.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [16]:
minValue=testDF.eCredit.min()
maxValue=testDF.eCredit.max()
testDF.eCredit=testDF.eCredit.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [17]:
minValue=testDF.salary.min()
maxValue=testDF.salary.max()
testDF.salary=testDF.salary.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [18]:
minValue=testDF.property.min()
maxValue=testDF.property.max()
testDF.property=testDF.property.apply(lambda x:(x-minValue)/(maxValue-minValue))

In [19]:
testDF.head()

        Type      LifeStyle  Vacation   eCredit    salary  property label
0    student   spend<saving      0.20  0.058824  0.104637  0.398926    C1
1    student  spend>>saving      0.54  0.021008  0.175059  0.243041    C1
2    student  spend<<saving      0.52  0.231092  0.138339  0.085992    C1
3   engineer   spend>saving      0.26  0.151261  0.430086  0.116229    C1
4  librarian   spend<saving      0.00  0.016807  0.352657  0.025714    C1

In [20]:
def euclideanDistance(instance1, instance2, length):
    distance = 0
    for i in range(2):
        if (instance1[i]==instance2[i]):
            distance += pow((1), 2)
    for x in range(2,length):
        distance += pow((instance1[x] - instance2[x]), 2)
    return math.sqrt(distance)
 
def getNeighbors(trainingSet, testInstance, k):
    distances = []
    length = len(testInstance)-1
    for x in range(len(trainingSet)):
        dist = euclideanDistance(testInstance, trainingSet[x], length)
        distances.append((trainingSet[x], dist))
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    for x in range(k):
        neighbors.append(distances[x][0])
    return neighbors
 
def getResponse(neighbors):
    classVotes = {}
    for x in range(len(neighbors)):
        response = neighbors[x][-1]
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1
    sortedVotes = sorted(classVotes.items(), key=operator.itemgetter(1), reverse=True)
    return sortedVotes[0][0]
 
def getAccuracy(testSet, predictions):
    correct = 0
    for x in range(len(testSet)):
        if testSet[x][-1] == predictions[x]:
            correct += 1
    return (correct/float(len(testSet))) * 100.0

In [21]:
def knn(k):
    predictions=[]
    for x in range(len(testDF)):
        neighbors = getNeighbors(trainDF.values, testDF.values[x], k)
        result = getResponse(neighbors)
        predictions.append(result)
        #print('> predicted=' + repr(result) + ', actual=' + repr(testDF.values[x][-1]))
    accuracy = getAccuracy(testDF.values, predictions)
    print('Accuracy: ' + repr(accuracy) + '%')

In [22]:
knn(17)

Accuracy: 28.57142857142857%

In [23]:
for i in range(3,50,2):
    knn(i)

Accuracy: 23.809523809523807%
Accuracy: 19.047619047619047%
Accuracy: 14.285714285714285%
Accuracy: 19.047619047619047%
Accuracy: 19.047619047619047%
Accuracy: 23.809523809523807%
Accuracy: 23.809523809523807%
Accuracy: 28.57142857142857%
Accuracy: 28.57142857142857%
Accuracy: 28.57142857142857%
Accuracy: 28.57142857142857%
Accuracy: 28.57142857142857%
Accuracy: 28.57142857142857%
Accuracy: 28.57142857142857%
Accuracy: 28.57142857142857%
Accuracy: 28.57142857142857%
Accuracy: 23.809523809523807%
Accuracy: 23.809523809523807%
Accuracy: 23.809523809523807%
Accuracy: 23.809523809523807%
Accuracy: 19.047619047619047%
Accuracy: 19.047619047619047%
Accuracy: 14.285714285714285%
Accuracy: 19.047619047619047%